<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE configuration    
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="multipleResultSetsEnabled" value="false" />
	</settings>
	
	<mappers>
		<mapper resource="mybatis/HotelInfoCollectionMapper.xml" />
		<mapper resource="mybatis/OrderVerifyMapper.xml" />
		<mapper resource="mybatis/UserLoginInfoMapper.xml" />
		<mapper resource="mybatis/UserInfoMapper.xml" />
		<mapper resource="mybatis/ChannelUserMapper.xml" />
		<mapper resource="mybatis/CityListMapper.xml" />
		<mapper resource="mybatis/UserWxTokenMapper.xml" />
		<mapper resource="mybatis/UserWxInfoMapper.xml" />
		<mapper resource="mybatis/HotelChainChannelMappingMapper.xml" />
		<mapper resource="mybatis/HotelInfoMappingMapper.xml" />
		<mapper resource="mybatis/HotelRatePlanMapper.xml" />
		
	</mappers>
</configuration>  
